.search-container {
  position: relative;
}

.search-container input::-webkit-calendar-picker-indicator{
  display: none !important;
}

.search-container .spinner-border {
  position: absolute;
  top: 7px;
  right: 6px;
  height: 1.5rem;
  width: 1.5rem;
}